.root {
  background-color: var(--color-sand);
}

.body {
  margin-top: 16px;
  color: var(--color-slate-bold);
}

.error {
  margin-top: 16px;
  color: var(--color-cherry-bold);
}

.button {
  margin-top: 32px;
}

.container {
  max-width: 440px;
}

.imageContainer {
  max-width: 100%;
  max-height: 100%;
}

.image {
  width: 100%;
  max-width: 600px;
  display: block;
}
