---
layout      : layouts/base.njk
title       : Workflow Integrations
description : "Tilde integrates with your existing tools, like Slack, Chrome, Calendar, and more."
ogtitle     : "Tilde, make room for your team."
ogbody      : "Free instant meeting rooms for all your collaborative needs"
ogpreview   : "https://withhq.sirv.com/external/opengraph/tilde_opengraph_2021-06-06.jpg"
---

<section class="margin_above">
    <h1 class="alignCenter">
        <div class="scriptText">Workflow</div>
        <div class="uppercase lavenderText">integrations</div>
    </h1>
</section>

<main>
    <section class="padding-section-leftRight spacing_below_large">
        <div class="triptych">
            <figure>
                <img src="slack.png" alt="Slack application icon" width="100%"/>
                <figcaption>
                    <strong>Slack</strong>
                    <p class="margin_above_small">Create rooms directly by typing <b>/tilde</b></p>
                    <a class="margin_above_small cta" target="_blank" href="https://slack.com/oauth/v2/authorize?scope=commands&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnN0YWxsT3B0aW9ucyI6eyJzY29wZXMiOlsiY29tbWFuZHMiXX0sIm5vdyI6IjIwMjEtMDYtMzBUMTg6MzA6MjguNjM0WiIsImlhdCI6MTYyNTA3NzgyOH0.4GDs88qN9b4nYHVSJBZfrva43MvrIM8a6mYqhTy13f0&client_id=1244791277063.2151053383028">Add to Slack</a>
                </figcaption>
            </figure>
            <figure>
                <img src="firefox.png" alt="Mozilla Firefox application icon" width="100%"/>
                <figcaption>
                    <strong>Mozilla Firefox</strong>
                    <p class="margin_above_small">Get meeting links instantly from Firefox</p>
                    <a class="margin_above_small cta" target="_blank"  href="https://addons.mozilla.org/en-US/firefox/addon/tilde-so/">Add to Firefox</a>
                </figcaption>
            </figure>
            <figure>
                <img src="edge.png" alt="Microsoft Edge application icon" width="100%"/>
                <figcaption>
                    <strong>Microsoft Edge</strong>
                    <p class="margin_above_small">Get meeting links instantly from Edge</p>
                    <a class="margin_above_small cta_disabled">Coming Soon</a>
                </figcaption>
            </figure>
            <figure>
                <img src="chrome.png" alt="Google Chrome application icon" width="100%"/>
                <figcaption>
                    <strong>Google Chrome</strong>
                    <p class="margin_above_small">Get meeting links instantly from Chrome</p>
                    <a class="margin_above_small cta" target="_blank"  href="https://chrome.google.com/webstore/detail/tilde/fdleebpnfhkglofibmclaffikndcmnjd">Add to Chrome</a>
                </figcaption>
            </figure>
            <figure>
                <img src="gcal.png" alt="A steaming cup of morning beverage." width="100%"/>
                <figcaption>
                    <strong>Google Calendar</strong>
                    <p class="margin_above_small">Add links directly to your calendar events</p>
                    <a class="margin_above_small cta_disabled">Coming Soon</a>
                </figcaption>
            </figure>
            <figure>
                <img src="outlook.png" alt="A steaming cup of morning beverage." width="100%"/>
                <figcaption>
                    <strong>Microsoft Outlook</strong>
                    <p class="margin_above_small">Add links directly to your calendar events</p>
                    <a class="margin_above_small cta_disabled">Coming Soon</a>
                </figcaption>
            </figure>
        </div>
        <p class="alignCenter smallText margin_above_large">Not finding your favorite tool? Please <a href="mailto:hello@tilde.so" class="textLink">let us know</a>!</p>
    </section>
</main>
