.LinkBubble {
  min-width: 100px;
  min-height: 100px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(160, 160, 160, 0.12), 0px 6px 32px rgba(160, 160, 160, 0.25);
  padding: 15px;
  position: relative;
}

.LinkBubble-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LinkBubble-closeBtn {
  position: absolute;
  top: -10px;
  left: -10px;
  cursor: pointer;
}

.LinkBubble-closeBtnIcon {
  height: 25px;
  width: 25px;
}

.LinkBubble-img {
  height: 30px;
  width: 30px;
}

.LinkBubble-link {
  position: relative;
  display: inline-block;
  color: #76a2ec;
  text-decoration: none;
}

.LinkBubble-link::before {
  position: absolute;
  top: 100%;
  content: attr(href);
  opacity: 0;
  display: block;
  transition: 0.25s all;
  height: 0;
  overflow: hidden;
  padding: 0.25em 1em;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  color: #555;
}

.LinkBubble-link:hover::before {
  opacity: 1;
  display: block;
  height: auto;
}
