.JoinRoom {
  height: 100%;
  background-color: rgba(249, 250, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.JoinRoom-controls {
  position: sticky;
  bottom: 10px;
}

.JoinRoom-titleText {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  padding-top: 15px;
  padding-bottom: 55px;
}

.JoinRoom-joinTitle {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.JoinRoom-formInputOffset {
  margin-bottom: 20px;
}

.JoinRoom-button {
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 3px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  background-color: #b9c5ff;
  box-shadow: 0px 2px 6px rgba(160, 160, 160, 0.12), 0px 6px 32px rgba(160, 160, 160, 0.25);
}

.JoinRoom-button.is-inactive {
  cursor: default;
  background-color: #b9c5ff;
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.JoinRoom-button:focus {
  outline: none;
}

.JoinRoom-analyticsNotice {
  font-size: 12px;
  color: #b3b3b3;
  text-align: justify;
  padding-bottom: 100px;
}

.JoinRoom-videoPreviewContainer {
  margin-top: 72px;
}

@media (max-width: 640px) {
  .JoinRoom-videoPreview {
    border-radius: 50%;
    object-fit: cover !important;
    height: 150px !important;
    width: 150px !important;
    border: 3px solid #ffffff;
  }

  .JoinRoom-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .JoinRoom-button {
    margin-top: 20px;
  }

  .JoinRoom-joinTitle {
    margin-bottom: 20px;
  }
}

@media (min-width: 640px) {
  .JoinRoom-videoPreview {
    border-radius: 50%;
    object-fit: cover !important;
    height: 250px !important;
    width: 250px !important;
    border: 3px solid #ffffff;
  }

  .JoinRoom-form {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .JoinRoom-controls {
    position: absolute;
    bottom: 10px;
  }

  .JoinRoom-joinTitle {
    margin-bottom: 40px;
  }

  .JoinRoom-button {
    margin-top: 60px;
  }
}
