.JoinRoom {
  height: 100%;
  background: url('/backgrounds/Wallpaper03.jpg');
  background-size: cover;
}

.JoinRoom-container {
  max-width: 640px;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px;
  overflow: hidden;
}

.JoinRoom-videoPreview {
  border-radius: 50%;
  object-fit: cover !important;
  height: 128px !important;
  width: 128px !important;
  border: 3px solid #ffffff;
}

.JoinRoom-analyticsNotice {
  font-size: 12px;
  color: #b3b3b3;
  text-align: justify;
  padding-bottom: 100px;
}

/* The login area should fade in/out when the avatar selector is closed/opened */
.JoinRoom-userInfo,
.JoinRoom-header {
  opacity: 0;
  transition: all 0.5s ease;
}

.JoinRoom-userInfo.is-open,
.JoinRoom-header.is-open {
  opacity: 1;
}

.JoinRoom-videoPreviewContainer {
  height: 128px;
  width: 128px;
}

.JoinRoom-avatarSelect {
  z-index: 10;
  position: absolute;
  transform: translate(150%, 0px);
  transition: all 0.75s ease;
  top: 30px;
  left: 0px;
  padding: 40px; /* match the padding of the join bubble */
}

.JoinRoom-avatarSelect.is-open {
  transform: translate(0%, 0px);
  transition: all 0.75s ease;
  top: 30px; /* match where the logo is */
  background-color: white;
}

.JoinRoom-header {
  height: 80px;
  width: 100%;
}

.JoinRoom-logo {
  height: 35px;
}

.JoinRoom-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: 0px) and (max-width: 639px) {
  .JoinRoom-avatarSelect {
    z-index: 10;
    position: absolute;
    transform: translate(150%, 0px);
    transition: all 0.75s ease;
    top: 0px;
    left: 0px;
    padding: 40px; /* match the padding of the join bubble */
  }

  .JoinRoom-avatarSelect.is-open {
    transform: translate(0%, 0px);
    transition: all 0.75s ease;
    top: 0px; /* match where the logo is */
    background-color: white;
  }
}
