.SettingsModal-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  gap: 10px 20px;
  place-items: center center;
}

.SettingsModal-grid-colA {
  justify-self: end;
}

.SettingsModal-grid-colB {
  justify-self: stretch;
}

.SettingsModal-toggle {
  border-radius: 5px;
  padding: 5px;
}

.SettingsModal-toggle-item {
  border-radius: 5px;
  cursor: pointer;
  width: 37%;
  min-width: 60px;
  text-align: center;
  display: inline-block;
  height: 100%;
  line-height: 30px;
}

.SettingsModal-select {
  display: block;
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  line-height: 1.3;
  padding: 1em 1.4em 0.9em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #d8d6d6;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.SettingsModal-select::-ms-expand {
  display: none;
}

.SettingsModal-select option {
  font-weight: normal;
}

.SettingsModal-toggle-item--clearable:before {
  content: 'CLEAR';
  margin-right: 10px;
  color: gray;
}

.SettingsModal-toggle-item.is-selected {
  background-color: #7acccc;
  cursor: default;
}

.SettingsModal-videoPreview {
  border-radius: 50%;
  object-fit: cover !important;
  height: 128px !important;
  width: 128px !important;
  border: 3px solid #ffffff;
}

.SettingsModal-avControls-item:last-of-type {
  margin-left: 8px;
}

/* This is some terrible hackery to make the <Emoji /> component play nice */
.SettingsModal-toggle-item .emoji-mart-emoji span {
  position: relative;
  top: 2px;
  margin-bottom: -5px;
  display: flex !important;
}

@media (max-width: 640px) {
  .SettingsModal-content {
    padding: 16px;
    height: 100%;
  }
}
