:root {
  --color-mandarin-bold: #f3a110;
  --color-mandarin-regular: #ffd873;
  --color-mandarin-light: #fff7cc;

  --color-cherry-bold: #ff7467;
  --color-cherry-regular: #ff9f96;
  --color-cherry-light: #ffe2df;

  --color-turquoise-bold: #61beb5;
  --color-turquoise-regular: #8ae1d9;
  --color-turquoise-light: #e5fdf4;

  --color-lavender-bold: #636c8b;
  --color-lavender-regular: #aebae4;
  --color-lavender-light: #e8efff;

  --color-ink: #333333;
  --color-slate: #8e92a0;
  --color-slate-light: #ebecee;
  --color-sand: #fff8f0;
  --color-snow: #ffffff;
}
