.content {
  background: white;
  color: #000;
  outline: none;
  border-radius: 16px;
  width: 75%;
  position: relative;
  max-width: 700px;
  min-height: 450px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  overflow: visible;
  padding: 38px 48px 48px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 6px 32px rgba(0, 0, 0, 0.12);
}

.title {
  color: #444444;
}
