.ParticipantCircle {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: default;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.ParticipantCircle.is-localParticipant {
  cursor: move;
}

.ParticipantCircle:hover .ParticipantCircle-menuItem {
  transition: opacity 100ms ease-in-out;
  opacity: 1;
}

.ParticipantCircle-settings {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: pointer;
  left: 5px;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  color: white;
  opacity: 0;
  border: 2px solid white;
}

.ParticipantCircle-settings.is-set {
  opacity: 1;
}

.ParticipantCircle-screenShare {
  opacity: 0;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
  left: -25px;
  top: 55px;
  height: 40px;
  width: 50px;
}

.ParticipantCircle-screenSharePreview {
  opacity: 1;
  position: absolute;
  cursor: pointer;
  left: -25px;
  top: 80px;
  height: 40px;
  width: 50px;
}

.ParticipantCircle-screenShare.is-active {
  opacity: 1;
}

.ParticipantCircle-avatar {
  height: 62%;
  width: 62%;
  margin-top: 10%;
}

.ParticipantCircle-hud {
  cursor: pointer;
  bottom: -32px; /* Push the hud down to intersect the bubble a little */
}

.ParticipantCircle-hud-item {
  opacity: 0;
}

.ParticipantCircle-hud-item.is-shown {
  opacity: 1;
}

.ParticipantCircle-hud-item:last-of-type {
  margin-left: 8px;
}

.ParticipantCircle-participant {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}

.ParticipantCircle-videoCircle {
  border-radius: 50%;
  object-fit: cover !important;
  /* height: 250px !important;
  width: 250px !important; */
  height: 100%;
  width: 100%;
  border: 3px solid #ffffff;
}

.ParticipantCircle-infoOverlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: center;
}

.ParticipantCircle-overLayText {
  font-size: 20px;
  -webkit-user-select: none;
  user-select: none;
  max-width: 145px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
}

.is-light {
  color: white;
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
  /*
    Move the settings gear out a little to put it on the edge of the circle. The circles are smaller on small screens
    but the settings gear stays the same size, so it needs to move out a tiny bit.
  */
  .ParticipantCircle-settings {
    top: -10px;
    left: -10px;
  }

  /* Override the `bottom` offset for the info overlay to avoid collisions with the avatar on small screens. */
  .ParticipantCircle-infoOverlay {
    bottom: 10px;
  }
}
