.LocalVideo {
  position: relative;
}

.LocalVideo-placeHolder {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.LocalVideo-video {
  position: absolute;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
}
