.videoUrlInput {
  margin-bottom: 5px;
}

.addVideoButton {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #636c8b;
}

.addedByText {
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
  margin-top: 8px;
  color: red;
}
