.youtubeContainer {
  padding: 16px;
}

.youtubePlayerContainer {
  height: 270px;
}

.youtubePlayerBorder {
  border-radius: 0 0 10px 10px;
}

.videoUrlInput {
  margin-bottom: 5px;
}

.title {
  background-color: var(--color-cherry-light);
}

.addVideoButton {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: none;
  color: var(--color-ink);
  cursor: pointer;
  background-color: var(--color-cherry-regular);
}

.error {
  margin-top: 8px;
  color: red;
}
