.youtubeContainer {
  padding: 16px;
}

.youtubePlayerContainer {
  height: 270px;
}

.youtubePlayerBorder {
  border-radius: 0 0 10px 10px;
}

.videoUrlInput {
  margin-bottom: 5px;
}

.title {
  background-color: var(--color-cherry-light);
}

.addVideoButton {
  margin-top: 8px;
}
