.container {
  max-width: 340px;
  height: 100%;
  width: 100%;
}

.imageContainer {
  max-width: 100%;
  border-radius: 14px;
  overflow: hidden;
}

.image {
  width: 100%;
  max-width: 600px;
}

.title {
  margin-bottom: 40px;
}

.emailInput {
  margin-bottom: 40px;
}

.buttonLink {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.error {
  margin-top: 16px;
  color: var(--color-cherry-bold);
}

@media (min-width: 0px) and (max-width: 639px) {
  .container {
    max-width: 100%;
  }
}
