---
layout      : layouts/base.njk
title       : Terms of Service
description : "Terms of Service: The following terms and conditions govern all use of the tilde.so website and all content, services and products available."
ogtitle     : "Tilde Terms of Service"
ogbody      : "Terms of Service: The following terms and conditions govern all use of the tilde.so website and all content, services and products available."
ogpreview   : "https://withhq.sirv.com/external/opengraph/noodle_opengraph_20210606.png"
---
<header class="margin_above">
<h1 class="alignCenter">
    <div class="scriptText">Terms of</div>
    <div class="uppercase lavenderText">service</div>
</h1>
<p class="alignCenter">Effective on July 1, 2021</p>
</header>

<section class="spacing_below_large">

    <h2 id="accept">Acceptance of Terms</h2>

    <p>
        This Terms of Service document, (the “TOS”), is an agreement you must accept in order to use our Service (as defined below). The terms “you” and “users” encompass all users. This document describes both your rights and your obligations as part of using
        the Service. It is important that you read it carefully because you will be legally bound to these terms. With Labs, Inc. (“With” “we” “us”) only provides its Tilde Service (as defined below) to you subject to this TOS. By accepting this TOS or
        by accessing or using the Service, you agree to be bound by this TOS (including the Privacy Policy, which is incorporated here by reference).
    </p>
    <p>
        If you are entering into this TOS on behalf of a company or other legal entity, you represent that you have the authority to bind such entity to this TOS. In that case, the terms “you” or “your” shall also refer to such entity. If you do not have such
        authority, or if you do not agree with this TOS, you may not use the Service. You acknowledge that this TOS is a contract between you and With, even though it is electronic and is not physically signed by you and With, and it governs your use of the Service.
    </p>
    <p>
        As our business evolves, we may change this TOS. If we make a material change to the TOS, we will provide you with reasonable notice prior to the changes either by emailing the email address associated with your account or by posting a notice on the
        Site. You can review the most current version of the TOS at any time by visiting this page. The revised terms and conditions will become effective on the date set forth in our notice, and if you use the Service after that date, your use will
        constitute acceptance of the revised terms and conditions. If any change to this TOS is not acceptable to you, your only remedy is to cancel your account and stop using the Services, which you may do by sending an email to <a href="mailto:support@tilde.so">support@tilde.so</a> or otherwise through the process provided in the Service.
    </p>
    <p>
        The Tilde Service create a unique URL for each of your meetings. You are responsible for maintaining the confidentiality of your URL and for all of your activities within a Tilde meeting space.
    </p>
    <p>
        By accessing or using the Services, you affirm that you are at least 16 years of age (or have reached the age of digital consent if that is not 16 years of age where you live). You represent that you are fully able and competent to enter into and comply
        with the terms and conditions in this TOS.

    </p>
</section>

<section class="spacing_below_large">
    <h3>Description of Service</h3>
    <p>
        The “Service(s)” means (a) the Tilde website located at https://tilde.so and any related web application (collectively, the “Site”) and (b) all software (including the Software, as defined below), applications, data, text, images, and other content made available
        by or on behalf of Tilde through the foregoing. The “Service” does not include <a href="#data-rights">Your Data (as defined below)</a> or any software application or service that is provided by you or a third party, which you use in connection
        with the Service (each a “Non-With Product”). Any modifications and new features added to the Service are also subject to this TOS. We reserve the right to modify or discontinue the Service or any feature or functionality thereof at any
        time without notice to you. All rights, title and interest in and to the Service and its components (including all intellectual property rights) will remain with and belong exclusively to us.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Access and Use of the Service</h3>
    <p>
        You may access and use the Service only for lawful, authorized purposes and you shall not misuse the Service in any manner (as determined by us in our sole discretion). See the section titled <a href="#reps">Representations and Warranties</a>            for specific provisions outlining prohibited uses of the Service. You shall comply with any codes of conduct, policies, storage limitations, or other notices we provide you or publish in connection with the Service from time to time,
        but if any of those policies materially change the TOS, we will provide you with reasonable notice as provided in the <a href="#accept">Acceptance of Terms</a> section above. You shall promptly notify us if you learn of a security breach
        related to the Service.


    </p>

    <p>
        Any software that may be made available by or on behalf of With in connection with the Service, including the Tilde desktop application, (“Software”) contains proprietary and confidential information that is protected by applicable intellectual property
        and other laws. Subject to the terms and conditions of this TOS, we only grant you a personal, non-sublicensable and non-exclusive license to use the object code of any Software solely in connection with the Service. Any rights not expressly
        granted herein are reserved.
    </p>


    <p>
        You hereby agree to be bound by these terms, and acknowledge that violation of this TOS is grounds for termination of Your Account.

    </p>
</section>

<section class="spacing_below_large">
    <h3 id="data-rights">Your Data Rights and Responsibilities</h3>
    <p>
        "Your Data" means any data and content you upload, post, transmit or otherwise made available via the Services (which may include data you elect to import from Non-With Products you use). "Your Data" includes files you upload, comments you make on files,
        profile information and anything else you enter or upload into the Service. We will make commercially reasonable efforts to ensure that all facilities used to store and process Your Data meet a high standard for security.
    </p>
    <p>
        In order for us to provide the Service to you, we require that you grant us certain rights with respect to Your Data. For example, we need to be able to transmit, store and copy Your Data in order to display it to you, to index it so you are able to search
        it, to make backups to prevent data loss, and so on. Your acceptance of this TOS gives us the permission to do so and grants us any such rights necessary to provide the service to you, only for the purpose of providing the service (and for
        no other purpose). This permission includes allowing us to use third-party service providers in the operation and administration of the Service and the rights granted to us are extended to these third parties to the degree necessary in order
        for the Service to be provided.
    </p>
    <p>
        If any users send us any feedback or suggestions regarding the Service, you grant us an unlimited, irrevocable, perpetual, free license to use any such feedback or suggestions for any purpose without any obligation to you.
    </p>
    <p>
        You are solely responsible for your conduct, the content of Your Data, and all communications with others while using the Services. We are not responsible for the accuracy, appropriateness, or legality of Your Data or any other information you and your
        users may be able to access using the Services. The Services provide features that allow you to share Your Data and other materials with others. Please consider carefully what you allow to be shared.
    </p>
    <p>
        The Service is free to use but we reserve the right to charge for features in the future.

    </p>
</section>

<section class="spacing_below_large">
    <h3 id="reps">Representations and Warranties</h3>
    <p>
        You represent and warrant to us that (i) you have full power and authority to enter into this TOS; (ii) you own all Your Data or have obtained all permissions, releases, rights or licenses required to engage in your activities (and allow us to perform
        our obligations) in connection with the Services without obtaining any further releases or consents; and (iii) Your Data and your other activities in connection with the Service, and our exercise of all rights and license granted by you
        herein, do not and will not violate, infringe, or misappropriate any third party’s copyright, trademark, right of privacy or publicity, or other personal or proprietary right, nor does Your Data contain any matter that is defamatory, obscene,
        unlawful, threatening, abusive, tortious, offensive or harassing.You also agree not to:</p>
    <ul>

        <li>
            communicate, transmit, upload, post, or otherwise make available any of Your Data that is unlawful, harmful, threatening, abusive, harassing, tortious, or invasive of another's privacy;

        </li>
        <li>
            use the Service to harm minors in any way;
        </li>
        <li>
            impersonate any person or entity, including, but not limited to, a With employee, or falsely state or otherwise misrepresent your affiliation with a person or entity;
        </li>
        <li>
            manipulate identifiers in order to disguise the origin of any of Your Data;
        </li>

        <li>
            communicate, transmit, upload, post, or otherwise make available any of Your Data that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information
            learned or disclosed as part of employment relationships or under nondisclosure agreements);
        </li>
        <li>
            communicate, transmit, upload, post, or otherwise make available any of Your Data in a manner that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;
        </li>
        <li>
            sublicense, resell, rent, lease, transfer or assign (except as permitted in Section 16) the Service or its use, or offer the Service on a time share basis to any third party;
        </li>
        <li>
            use the Service to communicate, transmit, upload, post, or otherwise make available any software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware;
        </li>
        <li>
            act in a manner that negatively affects other users' ability to use the Service;
        </li>
        <li>
            interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service, including using any device or software;
        </li>
        <li>
            modify, adapt, or hack the Service, including by using any non-public With APIs, or otherwise attempt to gain unauthorized access to the Service or its related systems or networks;
        </li>
        <li>
            intentionally or unintentionally violate any applicable local, state, national or international law in connection with your use of the Service, including, but not limited to, any data, privacy, or export control laws, any regulations promulgated by the
            U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange, or the NASDAQ, and any regulations having the force
            of law;
        </li>
        <li>
            use the Service to participate in or to provide support for activities intended to attack, stalk, bully, harass, abuse, or harm people for any reason including race, ethnicity, national origin, religious affiliation, caste, sex, gender identity, or serious
            disease or disability;
        </li>
        <li>
            use the Service to provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization
            pursuant to section 219 of the Immigration and Nationality Act; and/or
        </li>
        <li>
            collect or store personal data about other users in connection with any of the prohibited conduct and activities set forth above.
        </li>
    </ul>
</section>


<section class="spacing_below_large">
    <h3>Disclosure</h3>
    <p>
        You acknowledge, consent and agree that we may access, preserve and disclose your account information and Your Data if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (i) comply
        with legal process; (ii) enforce the TOS; (iii) respond to claims that any of Your Data violates the rights of third parties; (iv) respond to your requests for customer service; or (v) protect the rights, property or personal safety of With,
        its users and the public.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Term; Termination</h3>
    <p>
        This TOS will continue in full effect unless and until your account or this TOS is terminated as described herein.
    </p>
    <p>
        We reserve the right to deactivate and delete your account or your meeting spaces and terminate this TOS at any time for any reason, or no reason, with or without notice. Upon any termination of this TOS, we will have no obligation to maintain or provide Your Data.
    </p>
    <p>
        Please see our <a href="/privacy-policy">Privacy Policy</a> for more information about the choices you have regarding Your Data.
    </p>
</section>


<section class="spacing_below_large">
    <h3>Disclaimer of Warranties</h3>
    <p>
        The Services may be temporarily unavailable for scheduled maintenance or for unscheduled emergency maintenance, or because of other causes beyond our reasonable control, but we shall use reasonable efforts to provide advance notice of any material scheduled
        service disruption. Further, you understand that Your Data may be transmitted or handled in an unencrypted manner if you choose to use unencrypted gateways to connect to the Service. Additionally, while we take steps to ensure that information
        provided to its third party vendors and hosting partners is transmitted using reasonable security measures, it does not guarantee that these transmissions will be encrypted. Accordingly, you acknowledge that you bear sole responsibility for
        adequate security, protection and backup of Your Data. We will have no liability to you for any unauthorized access or use of any of Your Data, or any corruption, deletion, destruction or loss of any of Your Data.
    </p>
    <p>
        THE SERVICE AND ALL RELATED COMPONENTS AND INFORMATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND, AND WITH EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
        TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. YOU ACKNOWLEDGE THAT WITH DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, ERROR-FREE OR VIRUS-FREE, NOR
        DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICES, AND NO INFORMATION, ADVICE OR SERVICES OBTAINED BY YOU FROM WITH OR THROUGH THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS TOS.
    </p>
    <p>
        NO HIGH RISK USE. The Services are not designed or licensed for use in hazardous environments requiring fail-safe controls, including without limitation operation of nuclear facilities, aircraft navigation/communication systems, air traffic control, and
        life support or weapons systems. The Services shall not be used for or in any HIGH RISK environment.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Limitation of Liability</h3>
    <p>
        UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (WHETHER IN CONTRACT, TORT, OR OTHERWISE) SHALL WITH BE LIABLE TO YOU OR ANY THIRD PARTY FOR (A) ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS,
        LOST SALES OR BUSINESS, LOST DATA, OR (B) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF THE FEES ACTUALLY PAID BY YOU IN THE SIX (6) MONTHS PRECEDING THE EVENT GIVING RISE TO YOUR CLAIM OR, IF NO FEES APPLY, FIVE HUNDRED ($100) U.S. DOLLARS,
        OR (C) ANY MATTER BEYOND OUR REASONABLE CONTROL. THE PROVISIONS OF THIS SECTION ALLOCATE THE RISKS UNDER THIS TOS BETWEEN THE PARTIES, AND THE PARTIES HAVE RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO ENTER INTO THIS TOS.
    </p>
    <p>
        Some jurisdictions do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages, which means that some of the above limitations may not apply to you. IN THESE JURISDICTIONS, OUR LIABILITY WILL
        BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.

    </p>
</section>

<section class="spacing_below_large">
    <h3>NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT OR INTELLECTUAL PROPERTY INFRINGEMENT</h3>
    <p>
        We respect the intellectual property of others, and we ask our users to do the same. We may, in appropriate circumstances and at our discretion, disable and/or terminate the accounts of users who may be repeat infringers. If you believe that your work
        has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide With's Copyright Agent the following information: a) an electronic or physical signature of
        the person authorized to act on behalf of the owner of the copyright or other intellectual property interest; b) a description of the copyrighted work or other intellectual property that you claim has been infringed; c) a description of where
        the material that you claim is infringing is located on the site; d) your address, telephone number, and email address; e) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner,
        its agent, or the law; f) a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual
        property owner's behalf. With's Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:

        </p>
        <p>By mail:</p>
        <p>
            With Labs, Inc.<br> 595 Pacific Ave., 4th Fl<br> San Francisco, CA 94133<br>
        </p>
        <p>By email:</p>
        <p>
            <a href="mailto:support@tilde.so">support@tilde.so</a>
        </p>
    <p></p>

</section>

<section class="spacing_below_large">
    <h3>Idemnification</h3>
    <p>
        You shall defend, indemnify, and hold harmless With from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, arising or resulting from your breach of this TOS, any of Your Data, or your use or
        misuse of the Service. With shall provide notice to you of any such claim, suit or demand. With reserves the right to conduct the exclusive defense and control of any matter that is subject to indemnification under this section. In such case,
        you agree to cooperate with any reasonable requests assisting With’s defense of such matters.
    </p>
</section>


<section class="spacing_below_large">
    <h3>Enforceability</h3>
    <p>
        If any provision of this TOS is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that this TOS will otherwise remain in full force and effect and enforceable.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Integration, Modification, and Authority</h3>
    <p>
        This TOS is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this TOS. All waivers
        and modifications to this TOS must be in a writing signed by both parties that expressly by its terms modifies or waives a provision of this TOS, except as otherwise provided herein. No agency, partnership, joint venture, or employment is
        created as a result of this TOS and you do not have any authority of any kind to bind With in any respect whatsoever.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Assignment</h3>
    <p>
        You may not assign this TOS without the prior written consent of With, except, if you are a company or other legal entity, you may assign this TOS in connection with a merger, re-organization or acquisition of all or a substantial portion of your assets
        by another company, but only upon 30-days prior notice to With. With may assign or transfer this TOS, in whole or in part, without restriction.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Notices</h3>
    <p>
        Except as otherwise set forth herein, all notices under this TOS will be in writing and will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by facsimile or email; the
        day after it is sent, if sent for next day delivery by recognized overnight delivery service; and upon receipt, if sent by certified or registered mail, return receipt requested.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Choice of Law and Forum</h3>
    <p>
        The TOS and the relationship between the parties shall be governed by the laws of the State of California without regard to its conflict of law.
    </p>
</section>

<section class="spacing_below_large">
    <h3>Waiver and Severability of Terms</h3>
    <p>
        The failure of With to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision.
    </p>
</section>