.BackgroundPicker {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  color: #000;
}
.BackgroundPicker-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 20px;
}

.BackgroundPicker-exit {
  font-family: Silka;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.BackgroundPicker-defaultContainer {
  margin-top: 16px;
}

.BackgroundPicker-defaultBg {
  padding: 4px;
  cursor: pointer;
}

.BackgroundPicker-defaultBgImg:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.BackgroundPicker-defaultBgImg.is-selected {
  border: 3px solid #66b7af;
  border-radius: 20px;
}

.BackgroundPicker-customBgImg.is-selected {
  border: 3px solid #66b7af;
  border-radius: 10px;
}
