.Footer {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  padding: 20px;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 150;
  justify-content: flex-end;
}

.Footer-btn {
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.Footer-addAppList {
  margin-top: 50px;
  margin-bottom: 25px;
}

.Footer-menuTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: #303030;
  margin-bottom: 20px;
  margin-left: 25px;
}

.Footer-appItemScroll {
  max-height: 33vh;
  overflow-y: scroll;
}

.Footer-menuBackBtn {
  margin-top: 25px;
  margin-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  cursor: pointer;
}
