.stickyNote {
  max-width: 240px;
  width: 240px;
}

.stickyNoteContainer {
  padding: 16px;
}

.title {
  background-color: var(--color-mandarin-light);
}

.displayText {
  overflow-y: auto;
  overflow-wrap: anywhere;
  max-height: 250px;
  color: var(--color-ink);
}

/* 
  TODO: Outline none here reduces accesability, need to handle this better.
  see the accessability project in height
*/
.textInput {
  height: 96px;
  resize: none;
  width: 100%;
  border-style: none;
  border-color: Transparent;
  outline: none;
}

.createNoteButton {
  margin-top: 8px;
}

.addedByText {
  margin-top: 8px;
  color: var(--color-slate-regular);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
