.leftPane {
  width: 40%;
}

.rightPane {
  width: 60%;
}

@media (max-width: 640px) {
  .panes {
    flex-direction: column;
  }

  .leftPane {
    width: 100%;
  }

  .rightPane {
    width: 100%;
  }
}
