[class^="number-slide"], [class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  /* background-color: gold; */
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.navigation-controls {
  max-width: var(--main-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.dots {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  /* max-width: var(--main-width); */
  /* margin: 0 auto; */
}

.dot {
  border: none;
  width: 16px;
  height: 8px;
  background:  var(--color-slate-regular);
  /* border-radius: 50%; */
  border-radius: 4px;
  margin: 0 4px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.35s ease-out;
}

.dot:focus {
  outline: none;
}

.dot--active {
  width: 48px;
  background: var(--color-slate-ink);
}

.carousel_image {
  height: 500px;
  width: 100%;
  max-width: 1360px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.number-slide1 {
  background-image: url('/images/gtd_multiplayer.jpg');
}

.number-slide2 {
  background-image: url('/images/gtd_breakout.jpg');
}

.number-slide3 {
  background-image: url('/images/gtd_delightful_space.jpg');
}

@media only screen and (max-width: 960px) {

  .carousel_image {
    height: 400px;
  }

  .number-slide1 {
    background-image: url('/images/gtd_multiplayer_tablet.jpg');
  }
  
  .number-slide2 {
    background-image: url('/images/gtd_breakout_tablet.jpg');
  }
  
  .number-slide3 {
    background-image: url('/images/gtd_delightful_space_tablet.jpg');
  }
}

@media only screen and (max-width: 720px) {
  .reverse-row {
    grid-row: -1;
  }

  .carousel_image {
    height: 500px;
  }

  .number-slide1 {
    background-image: url('/images/gtd_multiplayer_mobile.jpg');
  }
  
  .number-slide2 {
    background-image: url('/images/gtd_breakout_mobile.jpg');
  }
  
  .number-slide3 {
    background-image: url('/images/gtd_delightful_space_mobile.jpg');
  }
}

.arrow {
  width: 28px;
  height: 28px;
  /* position: absolute; */
  /* bottom: -30px; */
  /* transform: translateY(-50%); */
  /* -webkit-transform: translateY(-50%); */
  fill: var(--color-slate-ink);
  cursor: pointer;
  /* opacity: 0.8; */
}

/* .arrow--left {
  left: 32px;
}

.arrow--right {
  left: auto;
  right: 32px;
} */

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}