@font-face {
    font-family: 'Manrope';
    src: url('/css/fonts/Manrope-Regular.woff2') format('woff2'), url('/css/fonts/Manrope-Regular.woff') format('woff'), url('/css/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('/css/fonts/Manrope-ExtraBold.woff2') format('woff2'), url('/css/fonts/Manrope-ExtraBold.woff') format('woff'), url('/css/fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --color-slate-ink: #949CBA;
    --color-slate-bold: #BEC3D7;
    --color-slate-regular: #E2E5EE;
    --color-slate-surface: #F4F5F8;
    --color-mandarin-ink: #7C4F00;
    --color-mandarin-bold: #F1A41D;
    --color-mandarin-regular: #FFCD64;
    --color-mandarin-light: #FFEAB6;
    --color-mandarin-surface: #FFF5DD;
    --color-lavender-ink: #6259BE;
    --color-lavender-bold: #9993EB;
    --color-lavender-regular: #D2CEF5;
    --color-lavender-light: #EAE8FC;
    --color-lavender-surface: #F3F2FE;
    --color-lavender-wash: #F8F7FE;
    --color-cherry-ink: #9C2F08;
    --color-cherry-bold: #EE6659;
    --color-cherry-regular: #FCABA0;
    --color-cherry-light: #FFD0C8;
    --color-cherry-surface: #FDEEEC;
    --color-oregano-ink: #00786D;
    --color-oregano-bold: #70BBB2;
    --color-oregano-regular: #A5E1DA;
    --color-oregano-light: #D4F6F2;
    --color-oregano-surface: #E4FBF8;
    --color-blueberry-ink: #106CB0;
    --color-blueberry-bold: #65B2E2;
    --color-blueberry-regular: #BFE0F5;
    --color-blueberry-light: #E3F2FC;
    --color-blueberry-surface: #EEF8FF;
    --color-sand: #fff8f0;
    --color-snow: #ffffff;
    --color-ink: #333333;
    --color-vintage-ink: #545351;
}

:root {
    --font-stack: "Manrope", "Helvetica", sans-serif;
    --narrow-width: 760px;
    --main-width: 900px;
    --section-spacing: 160px;
    --box-shadow-modal: 0px 15px 80px rgba(0, 0, 0, 0.08), 0px 4.52206px 24.1177px rgba(0, 0, 0, 0.0521271), 0px 1.87823px 10.0172px rgba(0, 0, 0, 0.04), 0px 0.67932px 3.62304px rgba(0, 0, 0, 0.0278729);
    --box-shadow-bold: 0px 45px 89px rgba(0, 0, 0, 0.0185187), 0px 14.27px 26.8309px rgba(0, 0, 0, 0.0225848), 0px 6.11599px 11.1442px rgba(0, 0, 0, 0.0264039), 0px 2.11191px 4.03063px rgba(0, 0, 0, 0.04);
    --box-shadow-mini: 0px 9px 17px rgba(0, 0, 0, 0.02), 0px 3px 5px rgba(0, 0, 0, 0.022), 0px 1px 2px rgba(0, 0, 0, 0.026), 0px 0.5px 1px rgba(0, 0, 0, 0.04);
}

nav {
    margin: 0 auto;
    max-width: var(--narrow-width);
    text-align: center;
    padding: 80px 0px 0px 0px;
}

.logo {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

#logoLight {
    display: block;
}

#logoDark {
    display: none;
}

.logo:focus {
    outline: 3px solid var(--color-lavender-bold);
}

main, header, footer {
    padding: 20px;
}

header, section, footer {
    margin: 0 auto var(--section-spacing) auto;
}


.section_caption {
    margin: 0 auto;
    max-width: var(--narrow-width);
    text-align: center;
    margin-top: 30px;

    font-family: var(--font-stack);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-vintage-ink);
}

h1 {
    font-family: var(--font-stack);
    margin: 0 auto;
    max-width: var(--narrow-width);
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--color-vintage-ink);
    font-feature-settings: 'ss02';
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: -0.5px;
}

h2 {
    font-family: var(--font-stack);
    margin: 0 auto;
    max-width: var(--narrow-width);
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--color-vintage-ink);
    font-feature-settings: 'ss02';
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
}

h3 {
    font-family: var(--font-stack);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-vintage-ink);
}

p {
    font-family: var(--font-stack);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-vintage-ink);
}

ul {
    margin: 0 auto;
    max-width: var(--main-width);
}

li {
    font-family: var(--font-stack);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-vintage-ink);
    margin-top: 4px;
    margin-left: 20px;
}

.faq_question {
    font-family: var(--font-stack);
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-vintage-ink);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin_bottom_small {
    margin-bottom: 10px;
}

.margin_bottom {
    margin-bottom: 30px;
}

.column {
    max-width: var(--narrow-width);
}

.farewell_card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 30px;
    background-color: var(--color-lavender-wash);
    text-align: left;
    margin: 0 auto;
    max-width: var(--main-width);
}

.grid_one {
    margin: 0 auto;
    max-width: var(--main-width);
}

.grid_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
    max-width: var(--main-width);
}

.grid_three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
    max-width: var(--narrow-width);
}

.text_one_column {
    margin: 0 auto;
    max-width: var(--narrow-width);
}

.text_two_columns {
    columns: auto 2;
    column-gap: 40px;
    column-rule: 1px solid var(--color-slate-regular);
    margin: 0 auto;
    max-width: var(--main-width);
}

.text_two_columns > p {
    line-height: 30px;
}

.text_two_columns > h2 {
    text-align: left;
    line-height: 30px;
}

a.room_card, a.room_card:link, a.room_card:visited {
    display: inline-block;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    transition:
        box-shadow 600ms cubic-bezier(0.350, 2, 0.000, 1.000),
        transform  600ms cubic-bezier(0.350, 2, 0.000, 1.000);
    transform: scale(1);
}

a.room_card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transform: scale(1.025);
}

a.room_card:active {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

a.room_card:focus {
    outline: 3px solid var(--color-lavender-bold);
}

.room_card_details {
    padding: 22px 30px 22px 30px;
}



.integration_card {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 30px;
    background-color: var(--color-lavender-wash);
    text-align: center;
}

.integration_card > img {
    display: block;
    max-width: 110px;
    margin: 0 auto;
}

.footer_card {
    padding: 30px;
    border-radius: 10px;
    background-color: var(--color-lavender-wash);
    overflow: hidden;
    position: relative;
}

.footer_card > p {
    font-size: 16px;
}

video {
    display: block;
}

.video_feature {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--box-shadow-bold);
}

a.textLink, a.textLink:link, a.textLink:visited {
    display: inline;
    position: relative;
    padding: 2px 2px;
    text-decoration: none;
    color: var(--color-lavender-ink);
    font-weight: 700;
    white-space: nowrap;
}

a.textLink:focus {
    outline: 1px solid var(--color-lavender-bold);
}

a.textLink::before {  
    transform: scaleY(0.07);
    transform-origin: bottom right;
}

a.textLink:hover::before {
    transform: scaleY(1);
    transform-origin: bottom left;
    background: var(--color-lavender-surface);
}

a.textLink::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: var(--color-lavender-regular);
    z-index: -1;
    transition: all .25s ease;
}

a.socialLink, a.socialLink:link, a.socialLink:visited {
    display: inline-block;
    padding: 4px 16px 6px 12px;
    text-decoration: none;
    background-color: var(--color-lavender-wash);
    color: var(--color-vintage-ink);
    font-weight: 700;
    border-radius: 20px;
    border: 1px solid var(--color-lavender-regular);
    transition: all .3s ease;
}

a.socialLink:hover {
    background-color: var(--color-lavender-surface);
    border: 1px solid var(--color-lavender-bold);
}

a.socialLink:active {
    background-color: var(--color-lavender-regular);
    border: 1px solid var(--color-lavender-ink);
}

a.socialLink:focus {
    border: 1px solid var(--color-lavender-ink);
}

.social_image {
    display: inline-block;
    vertical-align: -8%;
    margin-left: 2px;
    margin-right: 8px;
    fill: var(--color-vintage-ink);
}

.ctaDisabled {
    display: inline-block;
    padding: 11px 16px 13px 16px;
    color: var(--color-slate-ink);
    font-family: var(--font-stack);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    width: calc(100% - 32px);
    border: 2px solid var(--color-slate-bold);
}

a.cta, a.cta:link, a.cta:visited {
    display: inline-block;
    padding: 11px 22px 13px 22px;
    background-color: var(--color-lavender-ink);
    color: var(--color-snow);
    font-family: var(--font-stack);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    border: none;
    box-shadow: var(--box-shadow-modal);
    transition: all .3s ease;
}

a.cta:hover {
    background-color: var(--color-lavender-bold);
    box-shadow: var(--box-shadow-bold);
}

a.cta:active {
    box-shadow: inset 0 0 0 2px var(--color-lavender-ink);
}

a.cta:focus {
    background-color: var(--color-lavender-bold);
    box-shadow: var(--box-shadow-modal), inset 0 0 0 2px var(--color-lavender-ink);
}

@media only screen and (max-width: 960px) {
    :root {
        --narrow-width: 720px;
        --main-width: 720px;
        --section-spacing: 100px;
    }
}

@media only screen and (max-width: 760px) {
    :root {
        --narrow-width: 480px;
        --main-width: 480px;
    }

    nav {
        padding: 60px 0px 0px 0px;
    }

    h1 {
        font-size: 34px;
        line-height: 34px;
    }

    .grid_two {
        grid-template-columns: 1fr;
    }
    
    .grid_three {
        grid-template-columns: 1fr 1fr;
    }
    
    .text_two_columns {
        columns: auto 1;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        padding: 40px 0px 0px 0px;
    }

    h1 {
        font-size: 32px;
        line-height: 32px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    
    .grid_three {
        grid-template-columns: 1fr;
    }

    .integration_card {
        display: grid;
        grid-template-columns: 46px 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    }
    
    .integration_card > img {
        display: block;
        max-width: 46px;
        margin: 0 auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #232238;
    }

    #logoLight {
        display: none;
    }
    
    #logoDark {
        display: block;
    }

    h1, h2, .section_caption {
        color: #dfdfdf;
    }

    header > p {
        color: #aaaaaa;
    }

    li {
        color: #aaaaaa;
    }

    .text_two_columns {
        column-rule: 1px solid #555;
    }

    .text_two_columns > p {
        color: #aaaaaa;
    }

    .text_two_columns > p.faq_question {
        color: #cccccc;
    }

    .integration_card {
        background-color: #302e4d;
    }

    .footer_card {
        background-color: #302e4d;
    }

    .footer_card > p, .footer_card > h3 {
        color: #ffffff;
    }

    a.textLink, a.textLink:link, a.textLink:visited {
        color: var(--color-lavender-regular);
    }

    a.textLink:hover {
        color: #ffffff;
    }

    a.textLink:active {
        color: #ffffff;
    }

    a.textLink::before {
        background: var(--color-lavender-bold);
    }

    a.textLink:hover::before {
        background: var(--color-lavender-ink);
    }

    a.socialLink, a.socialLink:link, a.socialLink:visited {
        background-color: transparent;
        color: var(--color-lavender-regular);
        border: 1px solid var(--color-lavender-bold);
    }
    
    a.socialLink:hover {
        border: 1px solid var(--color-lavender-regular);
    }
    
    a.socialLink:active {
        color: #ffffff;
        border: 1px solid #ffffff;
    }

    .social_image {
        fill: #ffffff;
    }

    .ctaDisabled {
        color: var(--color-slate-ink);
        border: 2px solid #555b6f;
    }
}
