.linkWidget {
  max-width: 200px;
}

.linkWidgetContainer {
  padding: 16px;
}

.title {
  background-color: var(--color-lavender-light);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  position: relative;
  display: inline-block;
  color: #444444;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.linkInput {
  margin-bottom: 5px;
}

.textInput {
  height: 96px;
  resize: none;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.06);
}

.createLinkButton {
  margin-top: 8px;
}
