.DockItem {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.img {
  height: 40px;
  width: 40px;
}

.backgroundImage {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset;
  background-size: cover;
  background-position: 50% 50%;
}
