.FormInputV2 {
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.FormInputV2-input {
  padding: 10px 14px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;

  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
  border-radius: 8px;

  font-family: Silka;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.FormInputV2-input::placeholder {
  color: #636c8b;
  opacity: 0.5;
}

.FormInputV2-input:focus {
  outline: none;
}
