<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
		<title>{{ site.name }} • {{ title }}</title>

		<!-- Stylesheet -->
		<link type="text/css" rel="stylesheet" href="{{ '/css/style.css' | url  }}">

		<!-- Scripts -->
		<script type="text/javascript" src="{{ '/script/script.js' | url  }}"></script>

		<!-- Scripts -->
		<script type="text/javascript">
			window.addEventListener('load', function () {
				var links = document.getElementsByTagName('a');
				var ref = /[?&]ref=(\w+)&?/gm.exec(window.location.href);

				// Pass the ref to all the links and fill all the inputs
				if (ref !== null) {
					for (var i = 0; i < links.length; i++) {
						links[i].href = links[i].href + "?ref=" + ref[1];
					}
				}
			}, false);
		</script>

		<!-- SEO -->
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ site.keywords }}">

		<!-- Basic Open Graph -->
		<meta itemProp="name" content="{{ ogtitle }}" class="next-head"/>
		<meta itemProp="description" content="{{ ogbody }}" class="next-head"/>
		<meta itemProp="image" content="{{ ogpreview }}" class="next-head"/>

		<!-- Twitter specific Open Graph -->
		<meta name="twitter:card" content="summary_large_image" class="next-head"/>
		<meta name="twitter:site" content="{{ site.twitter }}" class="next-head"/>
		<meta name="twitter:title" content="{{ ogtitle }}" class="next-head"/>
		<meta name="twitter:description" content="{{ ogbody }}" class="next-head"/>
		<meta name="twitter:creator" content="{{ site.twitter }}" class="next-head"/>
		<meta name="twitter:image:src" content="{{ ogpreview }}" class="next-head"/>

		<!-- Generic Open Graph -->
		<meta property="og:title" content="{{ ogtitle }}" class="next-head"/>
		<meta property="og:type" content="article" class="next-head"/>
		<meta property="og:url" content="{{ process.env.SITE_URL }}" class="next-head"/>
		<meta property="og:image" content="{{ ogpreview }}" class="next-head"/>
		<meta property="og:description" content="{{ ogbody }}" class="next-head"/>
		<meta property="og:site_name" content="{{ site.name }}" class="next-head"/>

		<!-- favicon for non-IE browsers -->
		<link rel="icon" type="image/png" href="{{ '/brand/favicon_16.png' | url  }}" sizes="16x16"/>
		<link rel="icon" type="image/png" href="{{ '/brand/favicon_32.png' | url  }}" sizes="32x32"/>
		<link rel="icon" type="image/png" href="{{ '/brand/favicon_48.png' | url  }}" sizes="48x48"/>
		<link rel="icon" type="image/png" href="{{ '/brand/favicon_256.png' | url  }}" sizes="256x256"/>

		<!-- Apple touch icon -->
		<link rel="apple-touch-icon" href="{{ '/brand/favicon_256.png' | url  }}"/>

		<!-- favicon ico for IE only -->
		<link rel="shortcut icon" type="image/x-icon" href="{{ '/brand/favicon.ico' | url  }}"/>

		<!-- safari pinned tabs (macOS) -->
		<link rel="mask-icon" href="/brand/favicon-pinned-tab.svg" color="#545351"/>

		<!-- Fathom -->
		<script src="https://cdn.usefathom.com/script.js" data-site="SUFBIPYN" defer></script>

		<!-- Matomo | Leadfeeder -->
		<script type="text/javascript">
			var _paq = window._paq = window._paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function () {
				var u = "https://withso.matomo.cloud/";
				_paq.push([
					'setTrackerUrl', u + 'matomo.php'
				]);
				_paq.push(['setSiteId', '4']);
				var d = document,
					g = d.createElement('script'),
					s = d.getElementsByTagName('script')[0];
				g.type = 'text/javascript';
				g.async = true;
				g.src = '//cdn.matomo.cloud/withso.matomo.cloud/matomo.js';
				s
					.parentNode
					.insertBefore(g, s);
			})();
		</script>

	</head>
	<body>
		{% include 'components/menu.njk' %}
		{{ content | safe }}
		{# {% include 'components/producthunt.njk' %} #}
		{% include 'components/footer.njk' %}
	</body>
</html>
