/*
  Participant bubble is a circle with grayish background. Sizes etc... are set directly in the CirleRoom component.
*/
.participantBubble {
  border-radius: 50%;
  background-color: #7acccc;
  width: 200px;
  height: 200px;
  position: absolute;
}

@media (max-width: 640px) {
  .participantBubble {
    width: 128px;
    height: 128px;
  }
}
