.root {
  height: 40vh;
  width: 45vw;
}

.title {
  background-color: var(--color-turquoise-light);
}

.frame {
  position: absolute;
  height: 35vh;
  width: 45vw;
  overflow: hidden;
  border-radius: 10px;
}

.matte {
  position: absolute;
  overflow: hidden;
  top: -100px;
  bottom: 0;
  left: -200px;
  right: -200px;
  background: white;
}

@media (min-width: 0px) and (max-width: 639px) {
  .root {
    bottom: 0px;
    right: 10px;
    height: 35vh;
    width: calc(100vw - 20px);
  }
}

.frame {
  border: none;
  height: 100%;
  width: 100%;
}
