.contentPadding {
  padding: 32px;
}

.column {
  max-width: 600px;
  min-width: 280px;
}

.colMargin {
  margin-right: 24px;
}

@media (min-width: 0px) and (max-width: 639px) {
  .colMargin {
    margin-right: 0;
  }
}
