.AddAppItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.isDisabled {
  opacity: 0.4;
  cursor: default;
}

.imgContainer {
  margin-right: 10px;
  margin-bottom: 5px;
}

.img {
  height: 40px;
  width: 40px;
}

.title {
  font-family: CommonSans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.titleDisabledText {
  font-weight: normal;
  font-size: 12px;
}

.textContainer {
  min-height: 50px;
}

.desc {
  font-family: CommonSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
