.AddAppItem {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  cursor: pointer;
}

.AddAppItem-imgContainer {
  margin-right: 20px;
}

.AddAppItem-img {
  height: 60px;
  width: 60px;
}

.AddAppItem-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #303030;
}

.AddAppItem-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
}
