.AddAppItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.AddAppItem.is-disabled {
  opacity: 0.4;
  cursor: default;
}

.AddAppItem-imgContainer {
  margin-right: 10px;
}

.AddAppItem-img {
  height: 40px;
  width: 40px;
}

.AddAppItem-title {
  font-family: Geomanist;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.AddAppItem-title-disabledText {
  font-weight: normal;
  font-size: 12px;
}

.AddAppItem-desc {
  font-family: Geomanist;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
