.Header {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  padding: 20px;

  width: 100%;
  top: 0;
  position: fixed;
  z-index: 150;
}

.Header-logo {
  height: 35px;
}
