.Header {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  padding: 20px;
}

.Header-logo {
  height: 35px;
}

.Header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-left: 40px;
}

.Header-controls {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header-controlSpace {
  margin-right: 20px;
}
