<section class="padding-section-leftRight spacing_below_large wideWidth">
    <div class="create_block">
        <div class="alignCenter">
            <a class="bigCta" href="/create" onclick="window.fathom.trackGoal('UX3OHYIU', 1); _paq.push(['trackEvent', 'CTA', 'clicked']);">Create an instant meeting</a>
        </div>
        <p class="alignCenter smallText margin_above_small">Free. No signup. Instant meeting.</p>
    </div>
</section>
