<footer class="padding-section-leftRight">
	<div>
		<p><strong>&copy;2021 With Labs, Inc.</strong></p>
		<p>Made together, across the world.</p>
	</div>
	<div>
		<p>
			<strong>Legal</strong>
		</p>
		{# <p>Terms of Service</p>
		<p>Privacy Policy</p> #}
		<p>
			<a class="textLink" href="{{ '/terms-of-service' | url  }}">Terms of Service</a>
		</p>
		<p>
			<a class="textLink" href="{{ '/privacy-policy' | url  }}">Privacy Policy</a>
		</p>
	</div>
	<div>
		<p>
			<strong>Social</strong>
		</p>
		{# <p>Twitter</p>
		<p>LinkedIn</p>
		<p>Instagram</p> #}
		<p>
			<a class="textLink" href="https://twitter.com/noodle_hq" target="_blank" rel="noreferrer">Twitter</a>
		</p>
		<p>
			<a class="textLink" href="https://www.linkedin.com/company/withlabs/" target="_blank" rel="noreferrer" >LinkedIn</a>
		</p>
		<p>
			<a class="textLink" href="https://www.instagram.com/noodle.so/" target="_blank" rel="noreferrer">Instagram</a>
		</p>
	</div>
</footer>
