<footer class="padding-section-leftRight">
	<div class="triptych">
		<div>
			<p><img src="/brand/logo_footer.svg" alt="Tilde logo" /></p>
			<p>
				<strong>&copy;2021 With Labs, Inc.</strong>
			</p>
		</div>
		<div>
			<p>
				<strong>Legal</strong>
			</p>
			<p>
				<a class="footerLink" href="{{ '/terms-of-service' | url  }}">Terms of Service</a>
			</p>
			<p>
				<a class="footerLink" href="{{ '/privacy-policy' | url  }}">Privacy Policy</a>
			</p>
		</div>
		<div>
			<p>
				<strong>Social</strong>
			</p>
			<p>
				<a class="footerLink" href="https://twitter.com/tildehq" target="_blank" rel="noreferrer">Twitter</a>
			</p>
			<p>
				<a class="footerLink" href="https://www.linkedin.com/company/tilde-hq/" target="_blank" rel="noreferrer" >LinkedIn</a>
			</p>
			<p>
				<a class="footerLink" href="https://www.instagram.com/tilde.so/" target="_blank" rel="noreferrer">Instagram</a>
			</p>
		</div>
	</div>
</footer>
