{% macro integrationcard(params) %}
  <div class="integration_card">
      <img src="{{ params.icon }}" alt="{{ params.title }} application icon" />
      {# <h3>{{ params.title }}</h3> #}
      {# <p class="margin_above_small">{{ params.caption }}</p> #}
      
      {% if params.isAvailable %}
        <a class="cta truncate" target="_blank" href="{{ params.linkURL }}">{{ params.linkLabel }}</a>
      {% else %}
        <div class="ctaDisabled truncate">Coming Soon</div>
      {% endif %}
  </div>
{% endmacro %}