<nav>
    <a class="logo" href="/" title="Tilde Home">
        <img id="logoLight" src="/brand/logo.svg" alt="Title Logo" width="120" height="50" />
        <img id="logoDark" src="/brand/logo_dark.svg" alt="Title Logo" width="120" height="50" />
    </a>
</nav>
