<div style="
    position: fixed;
    bottom: 40px;
    left: 40px;
    background: var(--color-cherry-bold);
    box-shadow: var(--box-shadow-bold);
    padding: 4px;
    border-radius: 14px;">
    <a href="https://www.producthunt.com/posts/contraste?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-contraste" target="_blank" style="display: block;"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=137879&theme=light" alt="Contraste - Check the accessibility of text against the WCAG. | Product Hunt" style="width: 250px; height: 54px; display: block;" width="250" height="54" /></a>
</div>
