.root {
  /* module variables */
  --borderRadius: 4px;

  background-size: cover;
  border-radius: var(--borderRadius);
  font-family: Silka;
  margin: 10px 0px;
  padding: 15px;
}

.title {
  color: #444;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  background: #fff;
  border: none;
  border-radius: var(--borderRadius);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 40px;
  line-height: 14px;
  padding-left: 40px;
  position: relative;
  text-align: left;
  width: 100%;
}

.button--wallpaper:before,
.button--copyLink:before {
  content: ' ';
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}

.button--wallpaper:before {
  background-image: url('./images/Wallpaper_colored.svg');
}

.button--copyLink:before {
  background-image: url('./images/Copy_colored.svg');
}

.button + .button {
  margin-top: 8px;
}

.bgPicker {
  width: 75%;
  max-width: 640px;
  background: white;
  color: #000;
  overflow: auto;
  outline: none;
  border-radius: 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  overflow: visible;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.copyInput {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.spatialToggles {
  display: flex;
  height: 60px;
  align-items: stretch;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.spatialToggle {
  width: 50%;
  position: relative;
  border-radius: var(--borderRadius);
  border: none;
  cursor: pointer;
  outline: none;
  background: #fff;
}

.spatialToggle.is-selected {
  border: 2px solid #636c8b;
  cursor: auto;
}

.spatialToggle-title {
  align-self: flex-end;
  position: relative;
  top: 15px;
}

.nightsky12 {
  background-color: #636c8b;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 71px;
  top: 17px;
}

.turquise18 {
  background-color: #66b7af;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 50px;
  top: 9px;
}

.turquise12 {
  background-color: #66b7af;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 59px;
  top: 12px;
}

.mandarin8 {
  background-color: #ea990b;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 29px;
  top: 21px;
}

.mandarin12 {
  background-color: #ea990b;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 41px;
  top: 19px;
}

.cherry12 {
  background-color: #f4675a;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 23px;
  top: 12px;
}

.cherry6 {
  background-color: #f4675a;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.spatialToggles {
  display: flex;
  height: 60px;
  align-items: stretch;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.spatialToggle {
  width: 50%;
  position: relative;
  border-radius: var(--borderRadius);
  border: none;
  cursor: pointer;
  outline: none;
}

.spatialToggle.is-selected {
  box-shadow: inset 0 0 2px #66b7af;
  cursor: auto;
}

.spatialToggle-title {
  align-self: flex-end;
  position: relative;
  top: 15px;
}

.nightsky12 {
  background-color: #636c8b;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 71px;
  top: 17px;
}

.turquise18 {
  background-color: #66b7af;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 50px;
  top: 9px;
}

.turquise12 {
  background-color: #66b7af;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 59px;
  top: 12px;
}

.mandarin8 {
  background-color: #ea990b;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 29px;
  top: 21px;
}

.mandarin12 {
  background-color: #ea990b;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 41px;
  top: 19px;
}

.cherry12 {
  background-color: #f4675a;
  height: 12px;
  width: 12px;
  position: absolute;
  left: 23px;
  top: 12px;
}

.cherry6 {
  background-color: #f4675a;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 20px;
  top: 15px;
}
