/* Font utils */

/* semi-bold is 600 */
.u-fontH0 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
}

.u-fontH1 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.u-fontH2 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.u-fontH3 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.u-fontP1 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.u-fontP2 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.u-fontB1 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.u-fontB2 {
  font-family: Silka, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.u-fontBold {
  font-weight: bold !important;
}
