@import './css/util-color/index.css';
@import './css/util-size/index.css';
@import './css/util-flex/index.css';
@import './css/util-display/index.css';
@import './css/util-margin/index.css';
@import './css/util-zindex/index.css';
@import './css/util-font/index.css';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* scrollbar width */
*::-webkit-scrollbar {
  width: 10px;
}
/* scrollbar Track */
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
/* scrollbar Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
/* scrollbar Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Set the z-index of the modal overlay to ensure it's above everything else */
.ReactModal__Overlay {
  z-index: var(--layerControlsAlpha);
  background-color: rgb(99, 108, 139, 0.4) !important;
}

/* Transition applied to default react-modal class names */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Misc. utilities */
.u-blur {
  filter: blur(4px) !important;
}

.u-positionAbsolute {
  position: absolute !important;
}

.u-positionRelative {
  position: relative !important;
}

.u-positionFixed {
  position: fixed !important;
}

.u-height100Percent {
  height: 100% !important;
}

.u-width100Percent {
  width: 100% !important;
}

.u-floatRight {
  float: right !important;
}

/* Mouse cursor styles */
.u-cursorPointer {
  cursor: pointer !important;
}

.u-cursorDefault {
  cursor: default !important;
}

.u-cursorNone {
  cursor: none !important;
}

.u-opacity1 {
  opacity: 1 !important;
}

.u-overflowHidden {
  overflow: hidden !important;
}

.u-overflowYScrollable {
  overflow-y: scroll !important;
}

.u-round {
  border-radius: 50% !important;
  overflow: hidden !important;
}

.u-visibilityHidden {
  visibility: hidden !important;
}
