@import './css/util-size/index.css';
@import './css//util-flex/index.css';
@import './css/util-display/index.css';
@import './css/util-margin/index.css';

.u-blur {
  filter: blur(4px) !important;
}

.u-positionAbsolute {
  position: absolute !important;
}

.u-positionRelative {
  position: relative !important;
}

.u-height100Percent {
  height: 100% !important;
}

.u-width100Percent {
  width: 100% !important;
}

.u-floatRight {
  float: right !important;
}

/* Mouse cursor styles */
.u-cursorPointer {
  cursor: pointer !important;
}

.u-opacity1 {
  opacity: 1 !important;
}

.u-overflowHidden {
  overflow: hidden !important;
}

.u-round {
  border-radius: 50% !important;
}
