---
layout      : layouts/base.njk
title       : Your Privacy matters to us.
description : "We take your privacy seriously. Learn more about our policy here."
ogtitle     : "Your Privacy matters to us."
ogbody      : "We take your privacy seriously. Learn more about our policy here."
ogpreview   : "https://withhq.sirv.com/external/opengraph/2021-09_opengraph.gif"
---
<header>
    <h1  class="margin_bottom_small">Privacy Policy</h1>
    <p style="text-align: center;">Effective on July 1, 2021</p>
</header>

<main>
<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">Your Privacy Matters</h2>
    <p>Thank you for visiting https://tilde.so (“Website”) and its related web application ("App"), which are collectively referred to within as the “Site” which is owned and operated by With Labs, Inc. ("With", "we", "us"). By using or accessing the Site in any
        way, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent to our collection, use and sharing of your information in the manner described herein.</p>
    <p>We are committed to respecting and protecting your privacy. Please read this Privacy Policy carefully in order to understand what information we collect about visitors to the Site, and how we use that information. If you do not agree with
        the content of this Privacy Policy, please do not use this Site. We encourage you to check our Site frequently to see the current Privacy Policy and Terms and Conditions of Use in effect and any changes that may have been made to them. If
        we make material changes to this Privacy Policy we will notify you by posting the revised Privacy Policy and the revised effective date on this Site, by sending you an e-mail, and/or by some other means. Please note that if you’ve opted not
        to receive legal notice emails from us (or you haven’t provided us with your email address), those legal notices will still govern your use of the Site, and you are still responsible for reading and understanding them. If you use the Site
        after any changes to the Privacy Policy have been posted, this means you agree to all of the changes. This Policy is part of our <a class="textLink" href="/terms-of-service">Terms and Conditions of Use</a>.</p>
    <p>This Privacy Policy only covers our treatment of your personal information that we gather when you are accessing or using our Site, but not to the practices of companies we don’t own or control, or people that we don’t manage.</p>
    </div>
</section>

<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">Types of Information Collected by With</h2>

    <p>We collect two types of information from visitors to the Site, non-personal information and personal information. Non-personal information is information that does not, by itself, identify the visitor as a specific individual. Personal information,
        is information that specifically identifies a visitor to the Site, or which includes contact information. If you sign up to receive notifications or you create an account, we may request and you may be required to provide personal information,
        including, without limitation, your e-mail address. By providing us with personal information via the Site, you expressly agree to its collection and use as described in this Privacy Policy. If you do not want to receive communications from
        us, please indicate your preference by clicking on the “Unsubscribe” link at the bottom of an email message. </p>

    <p>We use industry standard analytics tools to improve the App. These tools process data which could be associated with your account including:</p>

    <ul>
        <li>an analytics identifier assigned by the analytics tool,</li>
        <li>your email address (if you provide it),</li>
        <li>the date and time,</li>
        <li>click stream actions,</li>
        <li>accessories, embedded third party apps, and the content you add,</li>
        <li>type of device,</li>
        <li>url’s of third party applications added to rooms and,</li>
        <li>browser user agent,</li>
        <li>IP address.</li>
    </ul>


    <p>We <b>DO NOT</b> make or keep recordings of any audio or video activity conducted on the Site.</p>

    <p>Third party apps from other websites embedded in the App behave in the exact same way as if the visitor had visited the other website. These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your
        interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website. We do not have any control over, nor access to that data.
    </p>


    <p>If you delete a meeting space, all of the data in that space will be deleted within 30 days. If you decide to no longer use the service, the data that you have added to spaces to which you were invited, will remain
        in those rooms.</p>

    <p>To delete your account or obtain access to your personal information collected by With, email your request to <a class="textLink" href="mailto:support@tilde.so">support@tilde.so.</a></p>
    </div>
</section>

<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">Collection of Information</h2>

    <p>Visitors may access the tilde.so Website while remaining anonymous and without revealing any personal information. We may collect information during your visit to the Website through our automatic data collection tools, which may include cookies
        and other commonly used information-gathering tools. These tools collect certain standard information that your browser sends to our Website such as your browser type and language, access times, and the address of the website from which you
        arrived at the Tilde Website. They may also collect information about your Internet Protocol (IP) address and clickstream behavior (i.e. the pages you view, the links you click, and other actions you take in connection with the Tilde websites).</p>

    <p>A "cookie" is a small piece of data stored on a user's browser, and contains non-personally identifiable information about the user. When you visit the Website, we may place a "cookie" in order to improve your experience by recognizing you when
        you visit the Website and in order to allow the company to optimize the information presented based on your demonstrated areas of interest. Cookies may also be used to compile information about Website usage. If you subsequently provide us
        with personal information such as your email address, we will associate any cookies on your browser with that information such that you will no longer be an anonymous visitor to the site.</p>

    <p>Your browser may offer you a “Do Not Track” option, which allows you to signal to operators of websites and web applications and services (including behavioral advertising services) that you do not wish such operators to track certain of your
        online activities over time and across different websites. Our Site does not explicitly support Do Not Track requests at this time, however we do not track your online activity when you are not on our Site nor do we provide any additional
        information to assist third parties in tracking your online activity.</p>
    </div>
</section>

<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">Children's Privacy</h2>

    <p>We are committed to protecting the privacy of young children, and therefore we do not knowingly collect or maintain personally identifiable information on the Site from persons under 13 years of age, and no part of our website is directed to persons
        under the age of 13. IF YOU ARE UNDER 13 YEARS OF AGE, THEN PLEASE DO NOT USE OR ACCESS THE SITE AT ANY TIME OR IN ANY MANNER. In the event that we discover that personal information has been collected from a person under 13 years of age,
        without verified parental consent in accordance with the Children's Online Privacy Protection Act of 1998 ("COPPA"), With will delete such information.</p>
    </div>
</section>

<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">How We Use and Share Information</h2>
    
    <p>We may use personal information you provide in order to contact you. For example, if you sign up for the Tilde newsletter, we may use your contact information to send you communications. If you provide us with your contact information or other
        information about yourself, we may use that information internally and to communicate with you regarding our products. Because we are committed to protecting your privacy, we will not sell, rent or otherwise disclose this information
        to any third party, except as described in this Privacy Policy. Personal information may be disclosed under the limited circumstances described below, and you agree that we may do so by submitting your personal information. By providing
        any personal information to the Site, all users fully understand and unambiguously consent to the collection and processing of such information in the United States. We may share non-personal information from which individuals cannot be
        identified, and which do not relate to individuals in aggregate form, with third parties for business purposes, such as consultants and advisors to the company.</p>

    <p>Customer content is the “in-app” information or content you give us directly through your use of the Site, such as links, files, notes, and transcripts, and any other information uploaded or transmitted while using the Site. We use customer
        content only in connection with providing our services – we do not monitor, sell or use customer content for any other purposes except as set forth below.</p>
    <p>We will disclose your personal information (including customer content) to a third party if required to do so by law or if, in good faith, we believe that such action is necessary to: (1) comply with the law or with legal process; (2) protect
        and defend our rights and property or prevent fraud; (3) protect us against abuse, misuse or unauthorized use of our products or services; or (4) protect the personal safety or property of its personnel, users of this Site or the public.
        The servers that serve the Site automatically identify a computer by its IP address. If we, in good faith, determine that you have used the service to menace, threaten, harass, intimidate or otherwise deceptively pose as another person,
        your actions will be investigated and your IP address may be disclosed to the recipient of any email, their legal counsel or representatives, and law enforcement officials as part of such an investigation. We may transfer our database, including
        personal information contained therein, to a third party who acquires all or substantially all of the assets or stock of With whether by merger, acquisition, reorganization or otherwise.</p>

    <p>We do not control the actions of anyone with whom you or any other Site user may choose to share information. Therefore, we cannot and do not guarantee that any customer content you or any user transmits or provides on the Site will not be viewed
        by unauthorized persons. Nor can we control the information a user may choose to share on the Site. Please be aware that no security measures are perfect or impenetrable and that we are not responsible for circumvention of any security measures
        contained on the Site. You should be cautious about the access you provide to others when using the Site, and the information you choose to share when using the Site.</p>

    </div>
</section>

<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">Linked Websites</h2>
    
    <p>This Site may contain links or otherwise provide access to third party websites and services. Please be aware that we have no control over the policies and practices of third party websites or businesses as to privacy or anything else and is
        not responsible for the privacy practices of such other websites. We encourage users to be aware when they leave this Site and to read the privacy statements of each website they visit that collects personal information. While we carefully
        chooses the websites to link to, this Privacy Policy applies solely to information collected on this Site.</p>
    </div>
</section>

<section>
    <div class="text_two_columns">
    <h2 class="margin_bottom">Contacting Us</h2>
    
    <p>
        Please also feel free to contact us if you have any questions about our Privacy Policy or practices. You may contact us:
    </p>
    <br />
    <p>By mail:</p>
    <p>
        With Labs, Inc.<br> 595 Pacific Ave., 4th Fl<br> San Francisco, CA 94133<br>
    </p>
    <br />
    <p>By email:<a class="textLink" href="mailto:privacy@tilde.so">privacy@tilde.so</a></p>
    </div>
</section>
</main>
