---
layout      : layouts/standalone.njk
title       : Slack + Tilde
description : "Tilde offers free instant meeting rooms for all your collaborative needs."
ogtitle     : "Tilde, make room for your team."
ogbody      : "Free instant meeting rooms for all your collaborative needs"
ogpreview   : "https://withhq.sirv.com/external/opengraph/tilde_opengraph_2021-07-22.jpg"
---

{# https://slack.github.com/ #}

<section class="margin_above_large spacing_below_large padding-section-leftRight">
    <h1 class="alignCenter">
        <div class="scriptText">Tilde +</div>
        <div class="uppercase lavenderText">slack</div>
    </h1>
    <div class="subtitle">Free, instant meeting rooms, directly from Slack.</div>
    <div class="alignCenter margin_above">
        <a class="bigCta" href="https://slack.com/oauth/v2/authorize?scope=commands&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnN0YWxsT3B0aW9ucyI6eyJzY29wZXMiOlsiY29tbWFuZHMiXX0sIm5vdyI6IjIwMjEtMDYtMzBUMTg6MzA6MjguNjM0WiIsImlhdCI6MTYyNTA3NzgyOH0.4GDs88qN9b4nYHVSJBZfrva43MvrIM8a6mYqhTy13f0&client_id=1244791277063.2151053383028">Add to Slack</a>
    </div>
    <p class="alignCenter smallText margin_above_small">By installing or using the app</p>
    <p class="alignCenter smallText">you agree to the <a class="textLink" href="https://tilde.so/terms-of-service/">Terms of Service.</a></p>

    <div class="videoWidth margin_above_large" >
    <video poster="/images/instant.png" class="video_feature" playsinline autoplay muted loop width="100%">
        <source src="/images/instant.mp4" type="video/mp4"/>
    </video>
    </div>
</section>
