---
layout      : layouts/base.njk
title       : Installation successful!
description : "Tilde offers free instant meeting rooms for all your collaborative needs."
ogtitle     : "Tilde, instant and persistent meeting rooms"
ogbody      : "What kind of free, instant meeting do you need today?"
ogpreview   : "https://withhq.sirv.com/external/opengraph/2021-09_opengraph.gif"
---
<header class="margin_bottom">
    <h1  class="margin_bottom_small">Installation successful!</h1>
    <p class="margin_bottom" style="text-align: center;">Tilde is now installed in your Slack workspace</p>
</header>

<main>
    <section>
        <div class="text_one_column">
            <p class="margin_bottom">Just type <code>/tilde</code>, press Enter, and your will get a brand new room ready for a meeting.</p>
        </div>
        <div class="grid_one" >
        <video poster="/images/instant.png" class="video_feature" playsinline autoplay muted loop width="100%">
            <source src="/images/instant.mp4" type="video/mp4"/>
        </video>
        </div>
    </section>
</main>
