---
layout      : layouts/base.njk
title       : Chat with the Tilde team
description : "We want to hear more about your experience, so we can make the app better for you."
ogtitle     : "Chat with the Tilde team"
ogbody      : "We want to hear more about your experience, so we can make the app better for you."
ogpreview   : "https://withhq.sirv.com/external/opengraph/2021-09_opengraph.gif"
---
<main>
    <section>
        <h1>{{ title }}</h1>
        <div class="calendly-inline-widget" data-url="https://calendly.com/meet-tilde/chat" style="min-width:320px;height:660px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </section>
</main>
