---
layout      : layouts/base.njk
title       : Free instant meeting rooms for all your collaborative needs
description : "Tilde offers free instant meeting rooms for all your collaborative needs."
ogtitle     : "Tilde, make room for your team."
ogbody      : "Free instant meeting rooms for all your collaborative needs"
ogpreview   : "https://withhq.sirv.com/external/opengraph/tilde_opengraph_2021-06-06.jpg"
---
<header class="padding-section-leftRight">
    <h1 style="display: none;">Make room for your team</h1>
    <video poster="images/title_desktop.png" class="videoWidth desktopOnly" playsinline autoplay muted loop width="100%">
        <source src="images/title_desktop.mp4" type="video/mp4"/>
    </video>
    <video poster="images/title_mobile.png"  class="videoWidth mobileOnly" playsinline autoplay muted loop width="100%">
        <source src="images/title_mobile.mp4" type="video/mp4"/>
    </video>

    <div class="subtitle">Free, instant meeting rooms for all your collaborative needs</div>
    <div class="alignCenter margin_above">
        <a class="bigCta" href="/create" onclick="window.fathom.trackGoal('UX3OHYIU', 1); _paq.push(['trackEvent', 'CTA', 'clicked']);">Create an instant meeting</a>
    </div>
    <p class="alignCenter smallText margin_above_small">Free. No signup. Instant meeting.</p>

</header>

<main>
    <div class="brush_line wideWidth"></div>
    <section class="padding-section-leftRight">
        <div class="diptych diptych-left vertical_lines">
            <div class="padding_large">
                <video poster="images/instant.png" class="video_feature" playsinline autoplay muted loop width="100%">
                    <source src="images/instant.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="padding_large">
                <h2 class="alignLeft">
                    <div class="scriptText">Instant</div>
                    <div class="uppercase lavenderText">meetings</div>
                </h2>
                <p>On-demand virtual meeting rooms with proximal audio, video and screen sharing.</p>
                <ul class="margin_above">
                    <li>Free</li>
                    <li>No accounts to create</li>
                    <li>No app to install</li>
                    <li>One click join</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="brush_line wideWidth"></div>
    <section class="padding-section-leftRight">
        <div class="diptych diptych-right vertical_lines2">
            <div class="padding_large">
                <h2 class="alignLeft">
                    <div class="scriptText">Ideas</div>
                    <div class="uppercase blueberryText">don't</div>
                    <div class="uppercase blueberryText">wait</div>
                </h2>
                <p>Capture ideas directly from the meeting. No more shuffling between tabs.</p>
                <ul class="margin_above">
                    <li>Collaborative Notes</li>
                    <li>Whiteboard</li>
                    <li>Screensharing</li>
                    <li>File sharing</li>
                </ul>
            </div>
            <div class="padding_large reverse-row">
                <video poster="images/ideas.png"  class="video_feature" playsinline autoplay muted loop width="100%">
                    <source src="images/ideas.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </section>
    <div class="brush_line wideWidth spacing_below_large"></div>

    <section class="spacing_below_large">
        <h2 class="alignCenter spacing_below_small">
            <div class="scriptText">Templates</div>
            <div class="uppercase oreganoText">for quick</div>
            <div class="uppercase oreganoText">meetings</div>
        </h2>
        <div class="triptych">
            <a class="template_card" href="/create/new">
                <figure>
                    <img src="images/template_blank.png" alt="A speech bubble with a friendly exclamation" width="100%"/>
                    <figcaption>
                        <strong>Blank</strong>
                        <p class="margin_above_small">A blank room for your custom needs.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/daily">
                <figure>
                    <img src="images/template_daily.png" alt="A streaming cup of morning beverage." width="100%"/>
                    <figcaption>
                        <strong>Daily Stand-Up</strong>
                        <p class="margin_above_small">Identify and tackle daily roadblocks.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/weekly">
                <figure>
                    <img src="images/template_weekly.png" alt="A calendar with colorful meeting blocks." width="100%"/>
                    <figcaption>
                        <strong>Weekly Sync-up</strong>
                        <p class="margin_above_small">Check in on the team's progress.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/one_on_one">
                <figure>
                    <img src="images/template_oneOne.png" alt="Two comfy chairs facing one another." width="100%"/>
                    <figcaption>
                        <strong>One-on-One</strong>
                        <p class="margin_above_small">A cozy place to build a relationship.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/all_hands">
                <figure>
                    <img src="images/template_allHands.png" alt="A stylish microphone." width="100%"/>
                    <figcaption>
                        <strong>All-Hands Meetings</strong>
                        <p class="margin_above_small">Keep everybody aligned with goals.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/retrospective">
                <figure>
                    <img src="images/template_retro.png" alt="A collection of floating documents." width="100%"/>
                    <figcaption>
                        <strong>Team retrospective</strong>
                        <p class="margin_above_small">Evaluate goals and reflect on setbacks.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/blank">
                <figure>
                    <img src="images/template_interview.png" alt="A silhouette of someone speaking." width="100%"/>
                    <figcaption>
                        <strong>Remote Interview</strong>
                        <p class="margin_above_small">Find great people for your team.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/happy_hour">
                <figure>
                    <img src="images/template_happyHour.png" alt="A striped party hat." width="100%"/>
                    <figcaption>
                        <strong>Happy Hour</strong>
                        <p class="margin_above_small">Team bonding and trust building.</p>
                    </figcaption>
                </figure>
            </a>

            <a class="template_card" href="/create/brainstorm">
                <figure>
                    <img src="images/template_brainstorm.png" alt="A classic-looking lightbulb." width="100%"/>
                    <figcaption>
                        <strong>Brainstorm</strong>
                        <p class="margin_above_small">Ideate as a group to solve problems.</p>
                    </figcaption>
                </figure>
            </a>

        </div>
        <p class="smallText alignCenter margin_above_large">Story mapping, Empathy maps, Watch parties, and many more!</p>
    </section>

    <section class="spacing_below_large">
        <h2 class="alignCenter spacing_below_small">
            <div class="scriptText">More than a</div>
            <div class="uppercase cherryText">video call</div>
        </h2>
        <div id="carousel" class="navigation-wrapper">
            <div id="my-keen-slider" class="keen-slider">
                <div class="keen-slider__slide number-slide1 carousel_image"></div>
                <div class="keen-slider__slide number-slide2 carousel_image"></div>
                <div class="keen-slider__slide number-slide3 carousel_image"></div>
            </div>
            <div class="navigation-controls">
                <svg id="arrow-left" class="arrow arrow--left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"></path>
                </svg>
                <div id="dots" class="dots"></div>
                <svg id="arrow-right" class="arrow arrow--right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
                </svg>
            </div>
        </div>

    </div>
</section>

{# <div class="brush_line wideWidth"></div>
<section class="">
    <div class="padding-section-topBottom wideWidth">
        <div class="quaptych padding-section-leftRight">
            <div class="card lavenderBackground">
                <h3 class="alignLeft">
                    <div class="scriptText">Instant</div>
                    <div class="uppercase lavenderText">access</div>
                </h3>
                <p class="spacing_below_small smallText">No account needed</p>
                <p class="margin_above_small">Free instant meeting room, no accounts needed!</p>
                <ul class="card_height margin_above">
                    <li>Free forever</li>
                    <li>No account needed</li>
                    <li>Instant meeting</li>
                </ul>
                <a class="cta margin_above" href="{{ '/create' | url  }}" onclick="window.fathom.trackGoal('UX3OHYIU', 1); _paq.push(['trackEvent', 'CTA', 'clicked']);">Meet now</a>
            </div>

            <div class="card oreganoBackground">
                <h3 class="alignLeft">
                    <div class="scriptText">Free</div>
                    <div class="uppercase oreganoText">account</div>
                </h3>
                <p class="spacing_below_small smallText">Free forever</p>
                <p class="margin_above_small">By creating a free account, you unlock some features</p>
                <ul class="card_height margin_above">
                    <li>Calendar plugins</li>
                    <li>Browser extension</li>
                    <li>Pinned rooms</li>
                </ul>
                <a class="cta_disabled margin_above">Coming soon</a>
            </div>

            <div class="card blueberryBackground">
                <h3 class="alignLeft">
                    <div class="scriptText">Team</div>
                    <div class="uppercase blueberryText">account</div>
                </h3>
                <p class="spacing_below_small smallText">$9.90 / user</p>
                <p class="margin_above_small">For all your team's virtual meeting room needs</p>
                <ul class="card_height margin_above">
                    <li>Meeting recordings</li>
                    <li>Audio transciption</li>
                    <li>Admin panel</li>
                </ul>
                <a class="cta_disabled margin_above">Coming soon</a>
            </div>

            <div class="card slateBackground">
                <h3 class="alignLeft">
                    <div class="scriptText">Enterprise</div>
                    <div class="uppercase slateText">plan</div>
                </h3>
                <p class="spacing_below_small smallText">Contact us</p>
                <p class="margin_above_small">Deploy Tilde across all your organizations.</p>
                <ul class="card_height margin_above">
                    <li>SSO</li>
                    <li>Custom domains</li>
                    <li>Dedicated Support</li>
                </ul>
                <a class="cta_disabled margin_above">Coming soon</a>
            </div>
        </div>
    </div>
</section>
<div class="brush_line wideWidth spacing_below_large"></div> #}

<section class="padding-section-leftRight spacing_below_large">
    <h2 class="alignCenter spacing_below_small">
        <div class="scriptText">Frequently</div>
        <div class="uppercase slateText">asked questions</div>
    </h2>
    {# <div class="faq">
        <div>
            <dt>Is Tilde really free?</dt>
            <dd>Yes it is! You can launch a meeting right now for free. We will introduce paid premium plans (with additional features) in the future.</dd>

            <dt>Do you need an account to use Tilde?</dt>
            <dd>Neither you nor your guests need an account. All you need is a modern web browser and an internet connection.</dd>

            <dt>How do I invite people to the meeting?</dt>
            <dd>Just share the provided meeting link and share that link with whomever you want. They will be able to join in one click.</dd>

            <dt>How do I join the meeting?</dt>
            <dd>If someone shared a meeting link with you, just click on the link and it will open the meeting in your browser. That's it!</dd>

            <dt>Are the meeting rooms private?</dt>
            <dd>Tilde uses a technology called WebRTC which uses encryption (SSL) between the clients and Twilio, our service provider.</dd>

            <dt>What happens to all the content when the meeting is over?</dt>
            <dd>Tilde rooms are persistent. That means any accessory (files, sticky notes, whiteboards, etc.) that you add to the room stays in the room until you manually delete it. It's perfect for sync-ups or other recurring meetings so all the notes, todos, and resources are always available.</dd>
        </div>
        <div>

            <dt>How do I schedule a meeting?</dt>
            <dd>Currently, you will need to create a meeting room <a href="/" class="textLink">here</a>, copy & paste the link in your calendar invite. We are working on Google Calendar and Outlook Calendar plugins to make this experience better.</dd>

            <dt>Is our content secure when stored in the room for future meetings?</dt>
            <dd>Tilde rooms use links that are virtually impossible to guess. Anybody who has access to the meeting link can access the room content at anytime. All your content is securely stored in Amazon servers and is handled with the utmost care.</dd>

            <dt>Do you have an app I can download?</dt>
            <dd>We currently do not offer a downloadable app. This is on our roadmap. Thanks a lot for your patience.</dd>

            <dt>How many people can a meeting room hold?</dt>
            <dd>The limit is currently 20 people at the same time in a room. Depending on your computer's power, the performance might degrade based on the number of participants, especially if everybody has their video turned on.</dd>

            <dt>What browsers are supported?</dt>
            <dd>We are currently supporting any modern browser with good WebRTC support: Google Chrome, Mozilla Firefox, and Microsoft Edge are recommended.</dd>
        </div>
    </div> #}

    <div class="narrowWidth">

        <details open>
            <summary>Is Tilde really free?</summary>
            <p>Yes it is! You can launch a meeting right now for free. We will introduce paid premium plans (with additional features) in the future.</p>
        </details>
        <details>
            <summary>Do you need an account?</summary>
            <p>Neither you nor your guests need an account. All you need is a modern web browser and an internet connection.</p>
        </details>
        <details>
            <summary>How do I invite people to the meeting?</summary>
            <p>Just share the provided meeting link and share that link with whomever you want. They will be able to join in one click.</p>
        </details>
        <details>
            <summary>How do I join the meeting?</summary>
            <p>If someone shared a meeting link with you, just click on the link and it will open the meeting in your browser. That's it!</p>
        </details>
        <details>
            <summary>How do I schedule a meeting?</summary>
            <p>Currently, you will need to create a meeting room here, copy the link and paste it in your calendar invite. We are working on Google Calendar and Outlook Calendar plugins to make this experience better.</p>
        </details>
        <details>
            <summary>What happens to all the content after the meeting?</summary>
            <p>Tilde rooms are persistent. That means any accessory (files, sticky notes, whiteboards, etc.) that you add to the room stays in the room until you manually delete it. It's perfect for recurring meetings, like weekly sync-ups, so all the notes, todos, and resources are always available.</p>
        </details>
        <details>
            <summary>Are the meeting rooms private?</summary>
            <p>Tilde uses a web technology called WebRTC which uses encryption (SSL) between the clients and Twilio, our service provider.</p>
        </details>
        <details>
            <summary>Is our content stored securely?</summary>
            <p>Tilde rooms use links that are virtually impossible to guess. Anybody who has access to the meeting link can access the room content at anytime. All your content is securely stored in Amazon servers and is handled with the utmost care.</p>
        </details>
        <details>
            <summary>Do you have an app I can download?</summary>
            <p>We currently do not offer a downloadable app. This is on our roadmap. Thanks for your patience!</p>
        </details>
        <details>
            <summary>How many people can a meeting room hold?</summary>
            <p>The limit is currently 20 people at the same time in a room. Depending on your computer's power, the performance might degrade based on the number of participants, especially if everybody has their video turned on.</p>
        </details>
        <details>
            <summary>What browsers are supported?</summary>
            <p>We are currently supporting any modern browser with good WebRTC support: Google Chrome, Mozilla Firefox, and Microsoft Edge are recommended.</p>
        </details>

    </div>
</section>

{% include 'components/create.njk' %}

{# <section class="padding-section-leftRight spacing_below_large wideWidth">
    <div class="create_block">
        <div class="alignCenter">
            <a class="bigCta" href="/create" onclick="window.fathom.trackGoal('UX3OHYIU', 1); _paq.push(['trackEvent', 'CTA', 'clicked']);">Create an instant meeting</a>
        </div>
        <p class="alignCenter smallText margin_above_small">Free. No signup. Instant meeting.</p>
    </div>
</section> #}
{# <section class="padding-section-leftRight spacing_below_large wideWidth">
    {% include 'components/signup_block.njk' %}
</section> #}

</main>
