---
layout      : layouts/base.njk
title       : What kind of free, instant meeting do you need today?
description : "Tilde offers free instant meeting rooms for all your collaborative needs."
ogtitle     : "Tilde, instant and persistent meeting rooms"
ogbody      : "What kind of free, instant meeting do you need today?"
ogpreview   : "https://withhq.sirv.com/external/opengraph/2021-09_opengraph.gif"
---
{%- from "components/roomcard.njk" import roomcard -%}
{%- from "components/integrationcard.njk" import integrationcard -%}

<main>
    <section>
        <h1>{{ title }}</h1>
        {# <h1>Create your free, instant, and persistent meeting room</h1> #}
        {# <h1>Free, instant, and persistent virtual meeting rooms</h1> #}
        {# <h1>What kind of free, instant meeting do you need today?</h1> #}
        {# <h1>Which free, instant and persistent meeting room do you need?</h1> #}
        <div class="grid_two">
            {{
                roomcard({
                    slug: 'daily',
                    color: '#FAF0E4',
                    title: 'Daily Stand-up',
                    caption: 'Identify and tackle daily roadblocks.'
                })
            }}
            {{
                roomcard({
                    slug: 'one_on_one',
                    color: '#E7F6F3',
                    title: 'One-on-One',
                    caption: 'Build a relationship in a cozy place.'
                })
            }}
            {{
                roomcard({
                    slug: 'weekly',
                    color: '#FFEEEB',
                    title: 'Weekly Sync-up',
                    caption: 'Check in on the team\'s progress.'
                })
            }}
            {{
                roomcard({
                    slug: 'brainstorm',
                    color: '#F8EFE3',
                    title: 'Brainstorm',
                    caption: 'Ideate as a group to solve problems.'
                })
            }}
            {# {{
                roomcard({
                    slug: 'office',
                    color: '#D3E6EC',
                    title: 'Virtual Office',
                    caption: 'Feel the presence of your team.'
                })
            }}
            {{
                roomcard({
                    slug: 'learning',
                    color: '#EAEAEA',
                    title: 'Online Learning',
                    caption: 'Teach to a small group of students.'
                })
            }} #}
        </div>
        <div class="section_caption">You can also <a class="textLink" href="/create/new">Start with a blank room</a> and customize it based on your need!</div>
    </section>

    <section>
        <h2 id="integration">Integrations & Extensions</h2>
        <div class="grid_three">
            {{
                integrationcard({
                    title: 'Slack',
                    icon: 'images/slack.png',
                    caption: 'Create rooms directly by typing <b>/tilde</b>',
                    linkLabel: 'Slack',
                    linkURL: 'https://slack.com/oauth/v2/authorize?scope=commands&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbnN0YWxsT3B0aW9ucyI6eyJzY29wZXMiOlsiY29tbWFuZHMiXX0sIm5vdyI6IjIwMjEtMDYtMzBUMTg6MzA6MjguNjM0WiIsImlhdCI6MTYyNTA3NzgyOH0.4GDs88qN9b4nYHVSJBZfrva43MvrIM8a6mYqhTy13f0&client_id=1244791277063.2151053383028',
                    isAvailable: true
                })
            }}
            {{
                integrationcard({
                    title: 'Firefox',
                    icon: 'images/firefox.png',
                    caption: 'Get meeting links instantly from Firefox',
                    linkLabel: 'Firefox',
                    linkURL: 'https://addons.mozilla.org/en-US/firefox/addon/tilde-so/',
                    isAvailable: true
                })
            }}
            {{
                integrationcard({
                    title: 'Edge',
                    icon: 'images/edge.png',
                    caption: 'Get meeting links instantly from Edge',
                    linkLabel: 'Edge',
                    linkURL: 'https://microsoftedge.microsoft.com/addons/detail/tilde/okijggnacjmnekgoicdfaehhaekldhll',
                    isAvailable: true
                })
            }}
            {{
                integrationcard({
                    title: 'Chrome',
                    icon: 'images/chrome.png',
                    caption: 'Get meeting links instantly from Chrome',
                    linkLabel: 'Chrome',
                    linkURL: 'https://chrome.google.com/webstore/detail/tilde/fdleebpnfhkglofibmclaffikndcmnjd',
                    isAvailable: true
                })
            }}
            {{
                integrationcard({
                    title: 'Google Calendar',
                    icon: 'images/gcal.png',
                    caption: 'Add links directly to your calendar events',
                    linkLabel: 'Coming Soon',
                    linkURL: '#',
                    isAvailable: false
                })
            }}
            {{
                integrationcard({
                    title: 'Outlook',
                    icon: 'images/outlook.png',
                    caption: 'Add links directly to your calendar events',
                    linkLabel: 'Coming Soon',
                    linkURL: '#',
                    isAvailable: false
                })
            }}
        </div>
        <div class="section_caption">Not finding your favorite tool? <a href="mailto:hello@tilde.so" class="textLink">Let us know!</a></div>
    </section>

    <section>
        <h2 id="faq">Frequently asked questions</h2>
        <div class="text_two_columns">
            <p class="faq_question">Is Tilde really free?</p>
            <p class="margin_bottom">Yes it is! You can launch a meeting right now for free. We will introduce paid premium plans (with additional features) in the future.</p>

            <p class="faq_question">Do you need an account?</p>
            <p class="margin_bottom">Neither you nor your guests need an account. All you need is internet and a browser!</p>

            <p class="faq_question">How do I invite people to the meeting?</p>
            <p class="margin_bottom">Just share the provided meeting link and share that link with whomever you want. They will be able to join in one click.</p>

            <p class="faq_question">How do I join the meeting?</p>
            <p class="margin_bottom">If someone shared a meeting link with you, just click on the link and it will open the meeting in your browser. That's it!</p>

            <p class="faq_question">How do I schedule a meeting?</p>
            <p class="margin_bottom">Currently, you will need to create a meeting room here, copy the link and paste it in your calendar invite. We are working on Google Calendar and Outlook plugins to make this experience better.</p>

            <p class="faq_question">Does the content stay after the meeting?</p>
            <p class="margin_bottom">Tilde rooms are persistent. Any accessory that you add to the room persists until you manually delete it. It's perfect for recurring meetings, so all the resources are always available.</p>

            <p class="faq_question">Are the meeting rooms private?</p>
            <p class="margin_bottom">Tilde uses a web technology called WebRTC which uses encryption (SSL) between the clients and Twilio, our service provider.</p>

            <p class="faq_question">Is our content stored securely?</p>
            <p class="margin_bottom">Tilde rooms use links that are virtually impossible to guess. Anybody who has access to the meeting link can access the room content at anytime. All your content is securely stored in Amazon servers and is handled with the utmost care.</p>

            <p class="faq_question">Do you have an app I can download?</p>
            <p class="margin_bottom">We currently do not offer a downloadable app. This is on our roadmap. Thanks for your patience!</p>

            <p class="faq_question">How many people can a meeting room hold?</p>
            <p class="margin_bottom">The limit is currently 20 people at the same time in a room. Depending on your computer's power, the performance might degrade based on the number of participants, especially if everybody has their video turned on.</p>

            <p class="faq_question">What browsers are supported?</p>
            <p class="margin_bottom">We are currently supporting any modern browser with good WebRTC support. Firefox, Edge and Chrome are recommended.</p>

      </div>
</section>
</main>
