.root {
  background-color: var(--color-sand);
  min-height: 100vh;
}

.button {
  padding-top: 24px;
}

.field {
  padding: 0 16px;
}

.tableContainer {
  margin-top: 16px;
}

@media (min-width: 0px) and (max-width: 639px) {
  .field {
    padding: 16px 0;
  }

  .button {
    padding-top: 16px;
  }
}
